/* start reset */
ul,
ol {
  list-style-type: none;
}
* {
  /* * = all elements */
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* end reset */
.parinte {
  border: 1px solid red;
  padding: 5px;
  width: 800px;
  /* centram un block */
  margin: 0 auto;
  display: flex;
  /* aranjare pe verticala */
  /* align-items: flex-end; */
  /* aranjare pe orizontala */
  /* justify-content: space-between; */
}

.copil {
  border: 1px dotted blue;
  flex: 1;
}

.primul {
  height: 100px;
  flex: 3;
}

/* header style */

.header {
  background-color: darkblue;
  padding: 5px 15px;
  color: white;
}

.header .container {
  width: 960px;
  margin: auto; /* centram un block */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  /* doar ul care are unul din parinti cu clasa .header */
  display: flex;
}

.header .logo img {
  height: 40px;
  display: block; /* asa scapam de spatiul de sub imagine */
}

.header ul a {
  display: inline-block;
  padding: 10px 15px;
}

/* content style */

.container {
  width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}
